

/* Colour pallete */
/* Primary #F9F8F6 */
/* Secondary #EFE9E3 */
/* Onclick,shadow #D9CFC7 */
/* Buttons #C9B59C */


*{
    background-color:#F9F8F6 ;
    font-family:monospace;
    padding: 0;
    box-sizing: border-box;

}

header{
    margin: 0;
    border-bottom:2px solid #EFE9E3;
}

/* NavBar */
.navbar{
    margin: 0;
    padding: 0;
    width: 100%;
    padding-top: 100 rem;
    display: flex;
    flex-direction: row;
}
.nav-container{
    justify-content: center;
    align-items: center;
}
.website-logo-container{
    padding-left: 5rem;
}
.link-list{
    margin: 0;
    padding-left: 50%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}
.links{
    padding-left: 20px;
    font-size: 20px;
    font-weight:500;
}
.aboutme-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 25vh;
    padding-right: 25vh;
    padding-bottom: 25vh;
    padding-top: 25vh;
    flex-direction: column;

}

.aboutme{
    font-size: 46px;
    padding: 10px;
}

.aboutme-socials{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
.social-container{
    padding: 15px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    border: 2px solid #e7d6c1;
    border-radius: 20px;
    font-size: 24px;    
    background-color: #FFF5E4;
    text-decoration: none;
    color: black;
}
.social-icon{
    background-color: #FFF5E4;
}


.social-name{    
    padding-left: 10px;
    background-color: #FFF5E4;
}

.heading{
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-card-vertical{
    display: flex;
    flex-direction: row;
    padding-left: 25vh;
    padding-right: 20vh;
    padding-top: 10vh;
    padding-bottom: 30vh;
}

.project-card-horizontal{
    display: flex;
    flex-direction: column;
    padding-left: 10vh;
}
.Projectcard{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow: hidden;
    height: 80vh;
    width: 60vh;
}
.Projectcard div{
    padding: 20px;
}
.Projectcard h2{
    font-size: 20px;
}
.projectcard-description{
    font-size: 15px;
}

.project-preview{
    width: 100%;
    height: 100%;
    padding: 16px;
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-preview img{
    max-width: 85%;
    max-height: 85%;
    object-fit: contain;
    border-radius: 8px;
}
.projectcard-tags-container{
    display: flex;
    flex-direction: row;
    gap: 1vh;
}
.projectcard-tags{
    padding: 5px;
    border: 1px solid #e7d6c1;
    border-radius: 20px;
    background-color: #FFF5E4;
}
.project-link{
    display: flex;
    flex-direction: row;
}

.project-link a{
    padding: 10px;
    border: #e7d6c1;
    background: #FFF5E4;
}